body {
    background-color: #303030;
    color: #ffffff;
    font-family: monospace;
    margin: 20px;
}

#editor {
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    background-color: #252526;
    color: #d4d4d4;
    border: 1px solid #555;
    padding: 8px;
    font-family: monospace;
    margin-bottom: 10px;
    tab-size: 4;
}

.controls {
    margin: 10px 0;
}
#color_icon{
    background-color: #bf931b;
    width: 15px;
    height: 15px;
}
#hue_checkbox{
    display: inline-block;
}
button {
    background-color: #3c3f41;
    color: #d4d4d4;
    border: 1px solid #555;
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #4e5254;
}

#canvas_container {
    border: 1px solid #555;
}

#drawing_canvas {
    display: block;
    margin: 0 auto; 
    background-color: #131314;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(
            to right,
            hsl(0, 80%, 75%),
            hsl(60, 80%, 75%),
            hsl(120, 80%, 75%),
            hsl(180, 80%, 75%),
            hsl(240, 80%, 75%),
            hsl(300, 80%, 75%),
            hsl(360, 80%, 75%)
    );
    outline: none;}

input[type="range"]::-moz-range-thumb {
    width: 5px;
    height: 20px;
    border-radius: 10%;
    background: white;
    border: 2px solid #ccc;
    cursor: pointer;
}